<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Picsellia front test</title>
    </head>

    <body>
        <main>
            <nav>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Open sidebar</a>
                    </li>
                    <li>
                        <a href="#">Change theme</a>
                    </li>
                </ul>
            </nav>
            <h3>Todos</h3>
            <!-- TODO: Show todos list here -->
        </main>
    </body>
</html>